silero_VAD/
silero_VAD/timestamps/

yamnet/models/
source_separation/

source_separation/

data/source_separation/
data/yamnet/
data/silero/
data/no_speech_audios
data/manual_music_annotations/audio/ 

yamnet/

results/

voxseg/

strat/strat/first_impressions_parts-20_groups-5_folds.csv
strat/strat/first_impressions_parts-200_groups-5_folds.csv
strat/strat/first_impressions_parts-no_speech_subset-20_groups-5_folds.csv
strat/strat/first_impressions_parts-no_speech_subset-200_groups-5_folds.csv
strat/strat/first_impressions_parts

data/labels/
data/features/features_duration/

figures/