silero_VAD/
silero_VAD/timestamps/
!silero_VAD/sad.py
!silero_VAD/silero.py

yamnet/models/
source_separation/

source_separation/

data/source_separation/
data/yamnet/
data/silero/
data/no_speech_audios
data/manual_music_annotations/audio/ 

yamnet/
!yamnet/models/research/audioset/yamnet/

results/
!results/experiments_results.ipynb
!results/paper_figures.ipynb
!results/paper_results/

voxseg/

strat/strat/first_impressions_parts-20_groups-5_folds.csv
strat/strat/first_impressions_parts-200_groups-5_folds.csv
strat/strat/first_impressions_parts-no_speech_subset-20_groups-5_folds.csv
strat/strat/first_impressions_parts-no_speech_subset-200_groups-5_folds.csv
strat/strat/first_impressions_parts

data/labels/*
!data/labels/final_labels.csv
!data/labels/final_labels+speech_ratio.csv
!data/labels/create_labels_dict_json.py


data/features/experimental/
data/features/paper/egemaps/
data/features/paper/wav2vec/

data/features/paper/wav2vec_features/

figures/

Trust-UBA-V2

